astroid==1.4.4
colorama==0.3.6
Django==1.9.2
django-common-helpers==0.8.0
django-cron==0.4.6
django-debug-toolbar==1.4
django-slack==5.0.1
lazy-object-proxy==1.2.1
mysql-python==1.2.5
oauthlib==1.0.3
PyJWT==1.4.0
pylint==1.5.4
python-openid==2.2.5
python-social-auth==0.2.14
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.18
wrapt==1.10.6
